@import "@highcanfly-club/fontawesome/styles/fontawesome.css";
@import '~/tailwindcss/base.css';
@import '~/tailwindcss/components.css';
@import '~/tailwindcss/utilities.css';

@import '@/assets/typo/NeutrafaceText-Bold.css';
@import '@/assets/typo/NeutrafaceText-BoldAlt.css';
@import '@/assets/typo/NeutrafaceText-BoldSC.css';
@import '@/assets/typo/NeutrafaceText-Book.css';
@import '@/assets/typo/NeutrafaceText-BookItalic.css';
@import '@/assets/typo/NeutrafaceText-BookNoAmbiguity.css';
@import '@/assets/typo/NeutrafaceText-BookSC.css';
@import '@/assets/typo/NeutrafaceText-Demi.css';
@import '@/assets/typo/NeutrafaceText-DemiItalic.css';
@import '@/assets/typo/NeutrafaceText-DemiSC.css';
@import '@/assets/typo/NeutrafaceText-Light.css';
@import '@/assets/typo/NeutrafaceText-LightSC.css';
@import '@/assets/typo/NeutrafaceText-LightItalic.css';
