@theme {
  --content-moon: "🌙";
  --content-sun: "☀️";

  --color-kiikviolet: #41195e;
  --color-kiikorange: #cb3f1f;
  --color-kiikrose: #c1091e;
  --color-kiikvert: #237331;
  --color-hcfdark: #0e6835;
  --color-hcflight: #95be1f;
  --color-hcfcardinal: #882647;
  --color-hcfgreen: #39b54a;
  --color-travelerschoice: #34e0a1;

  --color-ambyel-50: #ffff32;
  --color-ambyel-100: #ffff28;
  --color-ambyel-200: #ffff1e;
  --color-ambyel-300: #ffff14;
  --color-ambyel-400: #fff70a;
  --color-ambyel-500: #ffed00;
  --color-ambyel-600: #f5e300;
  --color-ambyel-700: #ebd900;
  --color-ambyel-800: #e1cf00;
  --color-ambyel-900: #d7c500;

  --color-ambblue-50: #0a94e6;
  --color-ambblue-100: #008adc;
  --color-ambblue-200: #097bcd;
  --color-ambblue-300: #116cbe;
  --color-ambblue-400: #165daf;
  --color-ambblue-500: #1a4ea0;
  --color-ambblue-600: #1d4090;
  --color-ambblue-700: #1e3280;
  --color-ambblue-800: #1e2470;
  --color-ambblue-900: #141a66;

  --color-ambred-50: #ff3244;
  --color-ambred-100: #ff283a;
  --color-ambred-200: #f71e30;
  --color-ambred-300: #ed1426;
  --color-ambred-400: #e30a1c;
  --color-ambred-500: #d90012;
  --color-ambred-600: #cf0008;
  --color-ambred-700: #c50000;
  --color-ambred-800: #bb0000;
  --color-ambred-900: #b10000;

  --color-ambgrey-50: #9ea8b1;
  --color-ambgrey-100: #949ea7;
  --color-ambgrey-200: #8a949d;
  --color-ambgrey-300: #808a93;
  --color-ambgrey-400: #768089;
  --color-ambgrey-500: #6c767f;
  --color-ambgrey-600: #8b8b8a;
  --color-ambgrey-700: #58626b;
  --color-ambgrey-800: #4e5861;
  --color-ambgrey-900: #000000;

  --color-gdt-50: #646470;
  --color-gdt-100: #5a5a66;
  --color-gdt-200: #50505c;
  --color-gdt-300: #464652;
  --color-gdt-400: #3c3c48;
  --color-gdt-500: #32323e;
  --color-gdt-600: #282834;
  --color-gdt-700: #1e1e2a;
  --color-gdt-800: #141420;
  --color-gdt-900: #0a0a16;

  --color-camelot-50: #f9f4f6;
  --color-camelot-100: #f3e9ed;
  --color-camelot-200: #e1c9d1;
  --color-camelot-300: #cfa8b5;
  --color-camelot-400: #ac677e;
  --color-camelot-500: #882647;
  --color-camelot-600: #7a2240;
  --color-camelot-700: #661d35;
  --color-camelot-800: #52172b;
  --color-camelot-900: #431323;

  --color-watermelon-50: #f3f7f5;
  --color-watermelon-100: #e7f0eb;
  --color-watermelon-200: #c3d9cd;
  --color-watermelon-300: #9fc3ae;
  --color-watermelon-400: #569572;
  --color-watermelon-500: #0e6835;
  --color-watermelon-600: #0d5e30;
  --color-watermelon-700: #0b4e28;
  --color-watermelon-800: #083e20;
  --color-watermelon-900: #07331a;

  --color-pistachio-50: #fafcf4;
  --color-pistachio-100: #f4f9e9;
  --color-pistachio-200: #e5efc7;
  --color-pistachio-300: #d5e5a5;
  --color-pistachio-400: #b5d262;
  --color-pistachio-500: #95be1f;
  --color-pistachio-600: #86ab1c;
  --color-pistachio-700: #708f17;
  --color-pistachio-800: #597213;
  --color-pistachio-900: #495d0f;

  --color-apple-50: #f5fbf6;
  --color-apple-100: #ebf8ed;
  --color-apple-200: #ceedd2;
  --color-apple-300: #b0e1b7;
  --color-apple-400: #74cb80;
  --color-apple-500: #39b54a;
  --color-apple-600: #33a343;
  --color-apple-700: #2b8838;
  --color-apple-800: #226d2c;
  --color-apple-900: #1c5924;

  --font-neutra-bold: NeutrafaceText-Bold;
  --font-neutra-boldsc: NeutrafaceText-BoldSC;
  --font-neutra-boldalt: NeutrafaceText-BoldAlt;
  --font-neutra-book: NeutrafaceText-Book;
  --font-neutra-booknoambiguity: NeutrafaceText-BookNoAmbiguity;
  --font-neutra-booksc: NeutrafaceText-BookSC;
  --font-neutra-bookitalic: NeutrafaceText-BookItalic;
  --font-neutra-demi: NeutrafaceText-Demi;
  --font-neutra-demisc: NeutrafaceText-DemiSC;
  --font-neutra-demiitalic: NeutrafaceText-DemiItalic;
  --font-neutra-light: NeutrafaceText-Light;
  --font-neutra-lightsc: NeutrafaceText-LightSC;
  --font-neutra-lightitalic: NeutrafaceText-LightItalic;

  --text-55: 55rem;
  --text-xxs: 0.5rem;

  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-998: 998;
  --z-index-999: 999;

  --opacity-80: 0.8;

  --spacing-24: 6rem;
  --spacing-25-px: 25px;
  --spacing-32: 8rem;
  --spacing-34: 8.5rem;
  --spacing-36: 9rem;
  --spacing-40-px: 40px;
  --spacing-48: 12rem;
  --spacing-70-px: 70px;
  --spacing-92: 23rem;
  --spacing-94: 23.5rem;
  --spacing-95-px: 95px;
  --spacing-100: 25rem;
  --spacing-100-px: 100px;
  --spacing-120: 30rem;
  --spacing-120-px: 120px;
  --spacing-140: 35rem;
  --spacing-140-px: 140px;
  --spacing-145-px: 145px;
  --spacing-150-px: 150px;
  --spacing-160: 40rem;
  --spacing-180-px: 180px;
  --spacing-195-px: 195px;
  --spacing-200-px: 200px;
  --spacing-210-px: 210px;
  --spacing-260-px: 260px;
  --spacing-350-px: 350px;
  --spacing-500-px: 500px;
  --spacing-580-px: 580px;
  --spacing-600-px: 600px;
  --spacing-860-px: 860px;
  --spacing-1600-px: 1600px;

  --radius-4xl: 2rem;
  --border-width-3: 3px;
  --border-width-6: 6px;
  --background-size-full: 100%;
}
